@import "bootstrap-sprockets";
@import "bootstrap";

.body {
	background-color: #097284;
}

.wrap {
	background-color: #F5F7DE;
}

.notice {
	color: green;
	font-size: 20px;
	font-weight: bold;
}

.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

#error_explanation {
	color: red;
}

.btn-black {
	background-color: black;
}

.btn-black:hover, btn.focus {
	color: white;
}

.pull-right {
	margin-right: 20px;
}




.copyr {
    font-size: 10px;
    padding-left: 0px;
    padding-right: 200px; 
    padding-top: 30px;
   
}

.designer {
    font-family: cursive;
    font-size: 10px;
    color: #40423C;
}


 

 
