@import "bootstrap-sprockets";
@import "bootstrap";

.body {
	background-color: #097284;
}

.wrap {
	background-color: #F5F7DE;
}

.notice {
	color: green;
	font-size: 20px;
	font-weight: bold;
}

.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

#error_explanation {
	color: red;
}

.btn-black {
	background-color: black;
}

.btn-black:hover, btn.focus {
	color: white;
}

.pull-right {
	margin-right: 20px;
}



error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold ;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



 

 
