.menu {
	text-align: right;
	margin-right: 40px;
}

.notice {
	color: green;
	font-size: 20px;
	font-weight: bold;
}

.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

#error_explanation {
	color: red;
}

right {
	float: right;
	margin-bottom: 0px;

}